.vscode
*.in
*.out

# Arquivos de redes
Redes/TP_1/cliente
Redes/TP_1/servidor


# Arquivos de compilação e classes python
*.o
*.pyc

# Arquivos de IR
__pycache__
IR/PA[0-9]/pa[0-9]
IR/PA[0-9]/*corpus*
IR/PA[0-9]/dumps
IR/PA[0-9]/*.txt